.projectIntro {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 40px auto;
  max-width: 1800px;
  text-align: center;
  padding: 0 20px;
}

.description {
  font-size: 3rem;
  line-height: 1.5;
   background: var(--gradient-project-intro);
    background-size: 300% auto;
    background-position: 0% center;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background-position 2.5s ease-out;
}

.description:hover {
    background-position: 100% center;
    transition: background-position 3.5s ease-in-out;
}