.projectIntro {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 40px auto;
  max-width: 1300px;
  text-align: center;
  padding: 0 20px;
}

.description {
  font-size: 2rem;
  line-height: 1.5;
   background: linear-gradient(
        110deg, 
        #ffb1a7 0%, 
        #95c6da 23%, 
        #eab0b0 45%, 
        #88bccf 66%, 
        #ffb1b1 100%
    );
    background-size: 300% auto;
    background-position: 0% center;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background-position 2.5s ease-out;
}

.description:hover {
    background-position: 100% center;
    transition: background-position 3.5s ease-in-out;
}